# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
ENV/

# Flask
instance/
.webassets-cache

# Base de données
*.db
*.sqlite
test_epedicare.db
epedicare.db

# Variables d'environnement - IMPORTANT !
.env

# Uploads
uploads/videos/*
!uploads/videos/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS
.DS_Store
Thumbs.db